node_modules/
uploads/*
!uploads/.gitkeep
data/
.env
*.log
.DS_Store
mobile/build/
mobile/.dart_tool/
mobile/.flutter-plugins-dependencies
mobile/.pub-cache/
mobile/.packages
mobile/.pub/
mobile/*.iml
mobile/android/.gradle/
mobile/android/.kotlin/
mobile/android/local.properties
mobile/ios/Pods/
mobile/ios/.last_build_id
mobile/coverage/
.DS_Store
